<div [ngSwitch] = "role">

    <div *ngSwitchCase = "'system-admin'">
        <aside class = "left-side-nav">
            <h1 class = "sa-nav-title mt-4">System Admin</h1>
            <h2>Name of System Admin</h2>

            <nav class = "sa-main-nav mt-4">
                <ul>
                    <li><a href = "#">Dashboard</a></li>
                    <li><a href = "#">Campaigns</a></li>
                    <li><a href = "#">Users</a></li>
                    <li><a href = "#">Log out</a></li>
                </ul>
            </nav>

        </aside>
    </div>

</div>