<div class = "content">
    
    <header class = "container-fluid">
        <div class = "row mt-3 sa-header-dashboard">

            <div class = "col-lg-2 sa-dash-header-box" style = "background: #ff5252;">

                <div class = "sa-head-icon-box mt-2">
                    <fa-icon [icon] = "campaigns" size = "3x" style = "color: #fff"></fa-icon>
                </div>

                <div class = "sa-head-cont-box">
                    <span>100</span>
                </div>

            </div>

            <div class = "col-lg-2 sa-dash-header-box" style = "background: #33d9b2;">
                <div class = "sa-head-icon-box mt-2">
                    <fa-icon [icon] = "users" size = "3x" style = "color: #fff"></fa-icon>
                </div>

                <div class = "sa-head-cont-box">
                    <span>100</span>
                </div>
                
            </div>

            <div class = "col-lg-2 sa-dash-header-box" style = "background: #ff793f;">
                <div class = "sa-head-icon-box mt-2">
                    <fa-icon [icon] = "users" size = "3x" style = "color: #fff"></fa-icon>
                </div>

                <div class = "sa-head-cont-box">
                    <span>100</span>
                </div>
                
            </div>

            <div class = "col-lg-2 sa-dash-header-box" style = "background: #706fd3;">
                <div class = "sa-head-icon-box mt-2">
                    <fa-icon [icon] = "users" size = "3x" style = "color: #fff"></fa-icon>
                </div>

                <div class = "sa-head-cont-box">
                    <span>100</span>
                </div>
                
            </div>

            <div class = "col-lg-2 sa-dash-header-box" style = "background: #34ace0;">
                <div class = "sa-head-icon-box mt-2">
                    <fa-icon [icon] = "users" size = "3x" style = "color: #fff"></fa-icon>
                </div>

                <div class = "sa-head-cont-box">
                    <span>100</span>
                </div>
                
            </div>


        </div>
    </header>

</div>