<div class = "content">
    
    <header class = "container-fluid">
        <div class = "row mt-3">

            <div class = "col-lg-2 sa-dash-header-box">
                <div class = "sa-head-icon-box">
                    <span class = "glyphicon glyphicon-flag" style = "width: 100%;"></span>
                </div>
            </div>

            <div class = "col-lg-2 sa-dash-header-box">

            </div>

            <div class = "col-lg-2 sa-dash-header-box">

            </div>

            <div class = "col-lg-2 sa-dash-header-box">

            </div>

            <div class = "col-lg-2 sa-dash-header-box">

            </div>

        </div>
    </header>

</div>